
.demo-header {
  width: 100%;
  background: #cfcaca;
  padding: 10px;
  height: 50px;
  align-items: center;
  line-height: 30px;
}

.demo-header .demo-title {
  float:left;
  font-weight: 700;
}

.demo-header .user-btn{
  float: right;
}

.demo-header .user-btn button{
  height: 30px;
  background: #fff;
  border: 1px solid #b8b5b5;
  outline: none;
  font-size: 14px;
  line-height: 26px;
  border-radius: 5px;
}

.demo-content-wrapper {
  width: 98%;
    margin: 0 auto;
}

.demo-nav-header {
  height: 40px;
  padding: 10px;
  background: #dfdada;
  margin: 20px 0;
  line-height: 20px;
  text-align: left;
}

.demo-left-pane, .demo-adjustable, .demo-main-content{
  display: inline-block;
    height: calc(100vh - 137px);
    overflow: hidden;
}

.demo-left-pane{
  width: 20%;
  border-right: 1px solid rgb(201, 198, 198);
}

.demo-adjustable{
  border-right:1px solid rgb(201, 198, 198);
  width: 8px;
  position: relative;
  cursor: e-resize;
}

.demo-adjustable svg {
  position: absolute;
  top: 50%;
  left: -4px;
}

.demo-row{
  padding: 20px 0;
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.demo-nav-title{  
    margin: 0 auto;
    text-align: center;
}

.demo-row span {
  display: block;
  margin: 5px 0;
}

.demo-row span:hover, .demo-row span:active{
  outline: 1px solid grey;
    background: #fff;
    cursor: pointer;
}

.demo-main-header{
  background: #a1a1e9;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.demo-main-content{
  width: 75%;
}

.demo-main-wrapper{
  width: 80%;
    border: 1px solid transparent;
    margin: 0 auto;
}
.demo-content{
  border: 1px solid #dbd9d9;
    border-top: none;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.demo-header .user {
  float: right;
  font-weight: 700;
    height: 30px;
    margin-right: 30px;
    text-align: right;
}

.demo-row > div {
  display: inline-block;
}

.demo-user-details .demo-row{
  padding: 12px 20px;
  width:400px;
  margin: 0 auto;
}

.demo-label, .demo-widget {
  width: 49%;
}

.demo-widget > select {
  width: 100%;
  height: 30px;
}

.demo-nav-title .menu-header {
  border: 1px solid #c1bfbf;
    padding: 0 10px;
}

.demo-widget span.text-danger{
  position: absolute;
}
.demo-row > button {
  background-color: orange;
  border: 1px solid orange;
  color: #fff;
  outline: none;
}

.demo-nav-title span.fa{
  display: inline-block;
    margin-left: 9px;
    outline: none;
}

.demo-nav-title .fade {
  display: none;
}

input.radio {
  margin-left: 10px;
}
input[type="date"]{
  outline:none;
  width: 182px;
}